/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
}
h1, h2, h3, h4, h5, h6 {
font-family: 'Open Sans', sans-serif;
}
p, div {
    font-family: 'Open Sans', sans-serif;
}
/*
 * Global
 */

.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}
.brand{
	margin: 5px 0px 0px 20px !important;
}
.claim{
	margin: 10px 0px 0px 20px;
	font-weight: lighter;
	color: #fff;
	font-size: 18px;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
	display: none;
}
@media (min-width: 768px) {
	.sidebar {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		background-color: #f5f5f5;
		border-right: 1px solid #eee;
	}
}

/* Sidebar navigation */
.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
}
.nav-sidebar > li > a {
	padding-right: 20px;
	padding-left: 20px;
}
.nav-sidebar > .active > a {
	color: #fff;
	background-color: #428bca;
}
#button-preview, #button-pdf, #button-email, #button-default, #button-dropbox {
	width: 80%;
	margin-bottom: 20px;
}
.actionbuttons {
	margin-left: 10%;
}
.currency, .discount, .shipping, .tax {
	max-width: 80%;
	margin-bottom: 20px;
}

.divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5;
	width: 80%;
}
.shipping-radio{
	width: 40%;
}
.btn-group-shipping{
	width: 100%;
}
span.dropbox{
	background: url('../img/dropbox-20.png') no-repeat; 
	padding: 0px 0px 0px 25px;
}
/*
 * Main content
 */

@media (min-width: 768px) {
	.main {
		margin-top: 20px;
		padding-right: 40px;
		padding-left: 40px;
	}
	.document-wrapper {

		width: 90%;
		background-color: #fff;
		margin: auto;
		border: 1px solid #ddd;
		box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
		padding: 20px;
	}
}
.main .page-header {
	margin-top: 0;
}
#invoice-header {
	border-bottom: 1px solid #eee;
}

#document-type {
	font-size: 36px;
	height: 60px;
}

.document-inputs:hover {
	background: #fcf8e3;
	border: none;
	box-shadow: none;
}

.document-logo {
	float: right;
	margin-bottom: 10px;
	width: 250px;
	height: 150px;
	display: block;
	background: transparent url('../img/logo.jpeg') center top no-repeat;
}

.document-logo:hover {
	background-image: url('../img/logo-hover.jpeg');
}
.document-inputs {
	padding: 10px;
	margin-top: 10px;
	width: 100%;
	border: none;
	overflow: hidden;
	word-wrap: break-word;
	resize: none;
	line-height: 1.5em;
}

input[type=date] {
	line-height: 34px;
	margin-top: 7px;
}

.label-right {
	text-align: right;
	line-height: 1em;
}
.address {
	height: 120px;
	margin-bottom: 10px;
}
/* 
 * document table
 */
#document-table{
	max-width: 100%;
    margin-left: 0px;
}
.myDragClass{
	background-color:#fcf8e3 !important;
}

.header-inputs, .table-inputs{
	padding: 5px;
	margin-top: 10px;
	width: 100%;
	border: none;
	overflow: hidden;
	word-wrap: break-word;
	resize: none;
	line-height: 1em;
}

.header-inputs:hover, .table-inputs:hover{
	background: #fcf8e3;
border: none;
box-shadow: none;
}
.table-functions{
	margin:0px 0px 20px 25px;
}
.noline{
	border-top: 0px !important;
}
.sub-total:hover, .noline:hover, .tax-total:hover, .currency-label:hover, .balance:hover, .grossprice:hover{
	background-color: #fff;
}

.table-move{
margin-top: 5px;
}
img.table-move{
	padding-right: 10px
}
td.dragHandle {
    
}

td.showDragHandle {
	background-image: url(../img/draghandle.png);
	background-repeat: no-repeat;
	background-position: center center;
	cursor: move;
}
.remove-row{
	margin-top: 8px;
}
.currency-column{
	width: 1%;
}
.product-column{
	width: 30%;
}
.quantity-column{
	width: 11%;
}
.tax1-column, .tax2-column {
 width: 17%;
}
 .grossprice-column {
 	width: 15%;
 }
 .netprice-column{
 	width: 15%;
 }
 .dragHandle{
 	width: 1%;
 }
#button-rowadd{
	margin-left: 20px;
}
div.brand a{
	text-decoration: none;
} 
